@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Crea tu taco (Progreso 1 Mateo Jaramillo)</h1>
    <p>Prueba de progreso 1 por Mateo Jaramillo.</p>

  
</div>
<div class="text-center">
    <p>Haz click en el siguiente boton para crear tu taco</p>
    <button type="button" onclick="location.href='@Url.Action("index", "MJ_Tacos")' ">Crea tu taco mi cuate Mateo Jaramillo</button>
</div>

